.container {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
}

.container section {
  align-content: center;
  display: grid;
  flex: 1;
  grid-template-columns: 1fr 1fr;
  gap: 6.5rem;
}
